.# Python virtual environments
.env/
venv/

# Byte-compiled files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3

# System files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

